In [35]:
import pandas as pd
import matplotlib as plt
import re
import numpy as np

In [69]:
df = pd.read_csv("./df_organizado.csv", sep= ',')

# Filtrando apenas 'credito'
df_credito = df[df['tipo_transacao'] == 'credito']

df_credito.to_csv('credito_movimentacoes.csv', index=False)

In [92]:
df = pd.read_csv("./credito_movimentacoes.csv", sep= ',')

df['tipo_credito'] = df.apply(lambda row: row['info'].split('_')[0] if row['tipo_transacao'] == 'credito' else None, axis=1)

df['info'] = df['info'].apply(lambda x: '_'.join(x.split('_')[1:]))

df.columns = ['data', 'info', 'valor', 'tipo_transacao','estado','tipo_credito']

df.head(10)

,data,info,valor,tipo_transacao,estado,tipo_credito
0,2014-04-30,indexador_pf_tr,1.608026e+10,credito,sc,estoque
1,2014-04-30,carteira_credito_pf_fgts,2.763158e+09,credito,pe,estoque
2,2014-04-30,ltv_pf_comercial,5.537000e+01,credito,pr,contratacao
3,2014-04-30,inadimplencia_pf_sfh,3.280000e+00,credito,ac,estoque
4,2014-04-30,risco_operacao_pf_comercial_aa,9.470000e+00,credito,rs,estoque
5,2014-04-30,risco_operacao_pf_livre_c,3.330000e+00,credito,sc,estoque
6,2014-04-30,indexador_pf_tr,4.932495e+08,credito,ac,estoque
7,2014-04-30,ltv_pf_comercial,6.234000e+01,credito,mg,contratacao
8,2014-04-30,risco_operacao_pj_livre_d_mais,2.330000e+00,credito,ms,estoque
9,2014-04-30,contratado_pf_fgts,2.244158e+08,credito,pr,contratacao

In [93]:
df['coluna_9'] = df['info'].apply(lambda x: x.split('_')[0])
df['info'] = df['info'].apply(lambda x: '_'.join(x.split('_')[1:]))
df['coluna_10'] = df['info'].apply(lambda x: x.split('_')[0])
df['info'] = df['info'].apply(lambda x: '_'.join(x.split('_')[1:]))
df['coluna_11'] = df['info'].apply(lambda x: x.split('_')[0])
df['info'] = df['info'].apply(lambda x: '_'.join(x.split('_')[1:]))
df['coluna_12'] = df['info'].apply(lambda x: x.split('_')[0])
df['info'] = df['info'].apply(lambda x: '_'.join(x.split('_')[1:]))
df['coluna_13'] = df['info'].apply(lambda x: x.split('_')[0])
df['info'] = df['info'].apply(lambda x: '_'.join(x.split('_')[1:]))
df['coluna_14'] = df['info'].apply(lambda x: x.split('_')[0])
df['info'] = df['info'].apply(lambda x: '_'.join(x.split('_')[1:]))

df.columns = ['data', 'info', 'valor', 'tipo_transacao','estado','tipo_credito', 'coluna_9', 'coluna_10', 'coluna_11', 'coluna_12', 'coluna_13', 'coluna_14']

df = df.drop(columns=['info'])
#Juntando colunas
df['coluna_13'] = df['coluna_13'].astype(str) + ' ' + df['coluna_14'].astype(str)
# Deletando a ultima coluna
df = df.drop(columns=['coluna_14'])

df.head(10)

,data,valor,tipo_transacao,estado,tipo_credito,coluna_9,coluna_10,coluna_11,coluna_12,coluna_13
0,2014-04-30,1.608026e+10,credito,sc,estoque,indexador,pf,tr,,
1,2014-04-30,2.763158e+09,credito,pe,estoque,carteira,credito,pf,fgts,
2,2014-04-30,5.537000e+01,credito,pr,contratacao,ltv,pf,comercial,,
3,2014-04-30,3.280000e+00,credito,ac,estoque,inadimplencia,pf,sfh,,
4,2014-04-30,9.470000e+00,credito,rs,estoque,risco,operacao,pf,comercial,aa
5,2014-04-30,3.330000e+00,credito,sc,estoque,risco,operacao,pf,livre,c
6,2014-04-30,4.932495e+08,credito,ac,estoque,indexador,pf,tr,,
7,2014-04-30,6.234000e+01,credito,mg,contratacao,ltv,pf,comercial,,
8,2014-04-30,2.330000e+00,credito,ms,estoque,risco,operacao,pj,livre,d mais
9,2014-04-30,2.244158e+08,credito,pr,contratacao,contratado,pf,fgts,,

In [94]:
# Criando a coluna clientes
df['tipo_cliente'] = None

# Atualizando a coluna clientes com o tipo de cliente.
df.loc[df['coluna_10'].isin(['pj', 'pf']), 'tipo_cliente'] = df['coluna_10']
df.loc[df['coluna_11'].isin(['pj', 'pf']), 'tipo_cliente'] = df['coluna_11']

df.head(10)

,data,valor,tipo_transacao,estado,tipo_credito,coluna_9,coluna_10,coluna_11,coluna_12,coluna_13,tipo_cliente
0,2014-04-30,1.608026e+10,credito,sc,estoque,indexador,pf,tr,,,pf
1,2014-04-30,2.763158e+09,credito,pe,estoque,carteira,credito,pf,fgts,,pf
2,2014-04-30,5.537000e+01,credito,pr,contratacao,ltv,pf,comercial,,,pf
3,2014-04-30,3.280000e+00,credito,ac,estoque,inadimplencia,pf,sfh,,,pf
4,2014-04-30,9.470000e+00,credito,rs,estoque,risco,operacao,pf,comercial,aa,pf
5,2014-04-30,3.330000e+00,credito,sc,estoque,risco,operacao,pf,livre,c,pf
6,2014-04-30,4.932495e+08,credito,ac,estoque,indexador,pf,tr,,,pf
7,2014-04-30,6.234000e+01,credito,mg,contratacao,ltv,pf,comercial,,,pf
8,2014-04-30,2.330000e+00,credito,ms,estoque,risco,operacao,pj,livre,d mais,pj
9,2014-04-30,2.244158e+08,credito,pr,contratacao,contratado,pf,fgts,,,pf

In [95]:
columns_to_replace = ['coluna_10', 'coluna_11']

for column in columns_to_replace:
    df[column] = df[column].replace({'pj': '', 'pf': ''})

df.head(10)

,data,valor,tipo_transacao,estado,tipo_credito,coluna_9,coluna_10,coluna_11,coluna_12,coluna_13,tipo_cliente
0,2014-04-30,1.608026e+10,credito,sc,estoque,indexador,,tr,,,pf
1,2014-04-30,2.763158e+09,credito,pe,estoque,carteira,credito,,fgts,,pf
2,2014-04-30,5.537000e+01,credito,pr,contratacao,ltv,,comercial,,,pf
3,2014-04-30,3.280000e+00,credito,ac,estoque,inadimplencia,,sfh,,,pf
4,2014-04-30,9.470000e+00,credito,rs,estoque,risco,operacao,,comercial,aa,pf
5,2014-04-30,3.330000e+00,credito,sc,estoque,risco,operacao,,livre,c,pf
6,2014-04-30,4.932495e+08,credito,ac,estoque,indexador,,tr,,,pf
7,2014-04-30,6.234000e+01,credito,mg,contratacao,ltv,,comercial,,,pf
8,2014-04-30,2.330000e+00,credito,ms,estoque,risco,operacao,,livre,d mais,pj
9,2014-04-30,2.244158e+08,credito,pr,contratacao,contratado,,fgts,,,pf